/**
 * variables
 */

:root {
  --primary-color: #f7ae23;
  --secondary-color: #141414;
  --border1px: border 1px lightgray;
}


/**
 * Header
 */

.home .site-header {
  position: absolute;
  top: 0;
  z-index: 1040;
  width: 100%;
  background: transparent;
  border-bottom: none;
}

.site-header .main-navigation {
  clear: inherit !important;
  width: 50% !important;
  margin-right: 0 !important;
}


/**
 * Slider
 */

.ls-wrapper.ls-in-out {
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
  background-color: var(--secondary-color) !important;
}

img.ls-layer {
  width: 100% !important;
}


/**
 * Courses Grid
 */

.fisio-curso__grid {
  border: var(--border1px);
}
