/**
 * variables
 */

:root {
  --primary-color: #f7ae23;
  --secondary-color: #141414;
  --font-headings: 'Roboto Slab', serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-headings);
}


/**
 * Header
 */

.home .site-header {
  position: absolute;
  top: 0;
  z-index: 1040;
  width: 100%;
  background: transparent;
  border-bottom: none;
}

.home .entry-title {
    display: none;
}

.site-header .main-navigation {
  clear: inherit !important;
  width: 50% !important;
  margin-right: 0 !important;
}

.main-navigation ul li a {
  color: white;
}

.home .site-header-cart:hover > li > a,
.home .site-header ul.menu li.current-menu-item > a {
  color: white;
}

.site-header .main-navigation {
  float: right !important;
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
    padding: 1rem 1.5rem;
}

.site-header ul.menu li.current-menu-item:after {
    background-color: var(--primary-color);
    content: ' ';
    width: 50%;
    height: 4px;
    display: block;
    margin: 0 auto;
}

.site-header-cart .cart-contents {
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1041;
}

/**
 * Slider
 */

.ls-wrapper.ls-in-out {
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

img.ls-layer {
  width: 100% !important;
}

.fisio__slider--layer {
    width: 100% !important;
}

.fisio__slider--container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30vh;
}

.fisio__slider--headingH1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.fisio__slider--headingH2 {
    color: white;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3rem;
}

.fisio__button {
    padding: 0.5rem 1rem;
    background-color: lightgray;
}

.fisio__button--primary {
    background: var(--primary-color);
    font-family: var(--font-headings);
    color: white;
    text-transform: uppercase;
}

.vc_row.wpb_row.vc_row-fluid.fisio__row--floating {
    position: absolute;
    margin-top: calc(100vh - 125vh);
    z-index: 1045;
    width: 80%;
    margin: -10em auto;
}

.fisio__row--floating > .vc_col-sm-4 > .vc_column-inner > .wpb_wrapper {
    background-color: rgba(0,0,0,.75);
    padding: 1rem;
}

/**
 * Courses Grid
 */

 .fisio-curso__hero-row {
     margin-top: 10vh;
 }

.fisio-curso__grid {
  border: solid 1px lightgray;
}

.fisio-curso__grid--image {
    max-height: 175px;
    overflow: hidden;
}

.fisio-curso__grid--metadata {
  padding: 0 !important;
}

.fisio-curso__grid--metadata-container h3 {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.fisio-curso__grid--metadata-container h2 {
    font-size: 16px;
}

.fisio-curso__grid--metadata-container {
    margin-top: 100px;
    border-bottom: solid 1px lightgray;
}

.fisio-curso__grid--metadata-container:before {
  content: ' ';
  width: 20%;
  margin:0 auto;
  height: 4px;
  background-color: var(--primary-color);
}

.fisio-curso__grid .vc_gitem_row.vc_row.vc_gitem-row-position-middle:after {
  content: '';
  width: 20%;
  margin: 0 auto;
  height: 4px;
  background-color: orange;
  display: block;
}

.fisio-curso__grid--woo-data {
    padding-bottom: 0 !important;
}

.fisio-curso__grid--woo-data .vc_btn3-container.vc_btn3-inline {
    margin-bottom: 10px;
}

.fisio-curso__grid--woo-data .vc_btn3-container.vc_btn3-inline a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px !important;
    text-transform: uppercase;
    font-family: var(--font-headings);
    font-size: 10px;
}

.fisio-home__contact form {
    background-color: white;
    padding: 1rem;
}

.fisio-home__contact form input {
    width: 100%;
    background: transparent;
    border: 1px solid lightgray;
    box-shadow: none;
    padding: 0.5rem 1.5rem;
}

.fisio__register--hero {
    background: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    color: white;
}
