/**
 * variables
 */

:root {
  --primary-color: #f7ae23;
  --secondary-color: #141414;
  --font-headings: 'Roboto Slab', serif;
}

h1, h2, h3, h4 {
  font-family: var(--font-headings);
}


/**
 * Header
 */

.home .site-header {
  position: absolute;
  top: 0;
  z-index: 1040;
  width: 100%;
  background: transparent;
  border-bottom: none;
}

.home .entry-title {
    display: none;
}

.site-header .main-navigation {
  clear: inherit !important;
  width: 50% !important;
  margin-right: 0 !important;
}

.main-navigation ul li a {
  color: white;
}

.home .site-header-cart:hover > li > a,
.home .site-header ul.menu li.current-menu-item > a {
  color: white;
}

.site-header .main-navigation {
  float: right !important;
}

.main-navigation ul.menu>li>a,
.main-navigation ul.nav-menu>li>a {
    padding: 1rem 1.5rem;
}

.site-header ul.menu li.current-menu-item:after {
    background-color: var(--primary-color);
    content: ' ';
    width: 50%;
    height: 4px;
    display: block;
    margin: 0 auto;
}

.site-header-cart .cart-contents {
    width: 50%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1041;
}

/**
 * Slider
 */

.ls-wrapper.ls-in-out {
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

img.ls-layer {
  width: 100% !important;
}

.fisio__slider--layer {
    width: 100% !important;
}

.fisio__slider--container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding-top: 30vh;
}

.fisio__slider--headingH1 {
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
}

.fisio__slider--headingH2 {
    color: white;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    letter-spacing: 0.3rem;
}

.fisio__button {
    padding: 0.5rem 1rem;
    background-color: lightgray;
}

.fisio__button--primary {
    background: var(--primary-color);
    font-family: var(--font-headings);
    color: white;
    text-transform: uppercase;
}

.vc_row.wpb_row.vc_row-fluid.fisio__row--floating {
  position: absolute;
  z-index: 1045;
  width: 100%;
  margin: -10em auto 0;
  max-width: 1060px;
}

.fisio__row--floating > .vc_col-sm-4 > .vc_column-inner > .wpb_wrapper {
    background-color: rgba(0,0,0,.75);
    padding: 1rem;
}

/**
 * Courses Grid
 */

 .fisio-curso__hero-row {
     margin-top: 10vh;
 }

.fisio-curso__grid {
  border: solid 1px lightgray;
}

.fisio-curso__grid--image {
    max-height: 175px;
    overflow: hidden;
}

.fisio-curso__grid--metadata {
  padding: 0 !important;
}

.fisio-curso__grid--metadata-container h3 {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.fisio-curso__grid--metadata-container h2 {
    font-size: 16px;
}

.fisio-curso__grid--metadata-container {
    margin-top: 100px;
    border-bottom: solid 1px lightgray;
}

.fisio-curso__grid--metadata-container:before {
  content: ' ';
  width: 20%;
  margin:0 auto;
  height: 4px;
  background-color: var(--primary-color);
}

.fisio-curso__grid .vc_gitem_row.vc_row.vc_gitem-row-position-middle:after {
  content: '';
  width: 20%;
  margin: 0 auto;
  height: 4px;
  background-color: orange;
  display: block;
}

.fisio-curso__grid--woo-data {
    padding-bottom: 0 !important;
}

.fisio-curso__grid--woo-data .vc_btn3-container.vc_btn3-inline {
    margin-bottom: 10px;
}

.fisio-curso__grid--woo-data .vc_btn3-container.vc_btn3-inline a {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px !important;
    text-transform: uppercase;
    font-family: var(--font-headings);
    font-size: 10px;
}

.fisio-home__contact form {
    background-color: white;
}

.fisio-home__contact form input, .fisio-contact__grid form input {
    width: 100%;
    background: transparent;
    border: 1px solid lightgray;
    box-shadow: none;
    padding: 0.5rem 1.5rem;
}

.fisio__register--hero {
    background: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;

}

.fisio__register--hero h3 {
  line-height: 2rem;
  color: white;
}

.fisio__register--fields {
    padding: 1rem;
}

.fisio-home__contact-welcome-text {
    padding-top: calc(100% - 80%);
}

.fisio-home__contact-welcome-text h3 {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 1.5rem;
}

.fisio-home__contact-welcome-text h3 span {
  color: var(--primary-color);
}

.fisio-home__contact-welcome-text h2 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    margin: 0;
}

.fisio__row--text-block h3 {
    color: white;
}

.fisio__row--text-block p a {
    color: var(--primary-color);
}

.fisio__register--fields p:last-child {
    margin-bottom: 0;
}

.fisio__register--fields .wpcf7-submit, .fisio-contact__grid .wpcf7-submit {
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
}

.fisio-events__grid--container > .vc_grid .vc_grid-item {
    max-height: 320px !important;
}

.fisio-events__grid--date {
  text-align: left;
  color: var(--primary-color);
  font-family: Impact, sans-serif;
  font-size: 4.5rem;
  line-height: 4.5rem;
  }

  .fisio-events__grid--title {
    font-size: 14px;
    margin-bottom: -10px;
}

.fisio-prof__grid--container > div .wpb_wrapper h3 {
    margin: 0;
    padding: 5px 1rem;
    text-align: center;
    font-size: 16px;
}
.fisio-prof__grid--container > div .wpb_wrapper p {
    font-size: 14px;
    padding:0 1rem 1rem;
    line-height: 0.95rem;
}
.fisio-prof__grid--container > div > .wpb_wrapper {
    background: white;
    min-height: 450px;
}

.fisio-prof__grid {
    padding: 2rem 0 4rem;
}

.fisio__prof--image {
    margin-bottom: 0.5rem;
    border-bottom: solid 1px lightgray;
}

.fisio__prof--image img {
    border-radius: 0;
    margin: 0;
    padding: 0;
    margin-bottom: -1px;
}

.site-footer {
    background-color: var(--secondary-color);
    color: white;
    padding-bottom: 1rem;
}

.site-footer a, .site-footer p, .site-footer h3, .site-footer a:not(.button) {
  color: white !important;
}

.footer-widget-3 .widget_text h2 {
    color: white;
    margin: 0;
}

.footer-widgets {
    padding: 1rem;
}

.site-footer .widget_media_image {
    margin-bottom: 1rem;
}

.widget_nav_menu ul li a {
    color: white !important;
    text-transform: uppercase;
    line-height: 2rem;
}

.widget_nav_menu ul li:before {
  content: none;
}

.site-info {
    padding: 0;
    text-align: center;

}


.site-info p {
  color: lightgray !important;
}

.site-footer .site-info p a {
  color: fuchsia !important;
}

.textwidget p:first-child {
    margin-bottom: 0;
}

.textwidget {
  padding-top: 1rem;
}

.site-footer .widget {
    margin-bottom: 0;

}

a:focus, .button:focus, .button.alt:focus, .button.added_to_cart:focus,
.button.wc-forward:focus, button:focus, input[type="button"]:focus,
input[type="reset"]:focus, input[type="submit"]:focus {
  outline:none !important;

}

/**
 * Internal Pages
 * Styles
 */

body:not(.home) .site-header {
  background-color: black;
  background-image: url('https://fisiocr.elpuasdev.com/wp-content/uploads/2018/03/menucover.jpg');
  background-size: cover;
}

/**
 * Media Queries
 * @type { Max Width 425px }
 */

@media screen and (max-width: 425px) {
  .fisio__row--floating {
    display: none;
  }
  .site-header .main-navigation {
    width: 25% !important;
  }
  #layerslider_1 {
    height: 100vh !important;
    background: black;
  }
  #layerslider_1 > div {
    display: none;
  }
  button.menu-toggle {
    background: transparent !important;
    border: none !important;
  }
  button.menu-toggle:before {
   background-color: white !important;
  }

  button.menu-toggle, button.menu-toggle:hover {
    background-color: transparent !important;
  }

  button.menu-toggle:after, button.menu-toggle:before, button.menu-toggle span:before {
    background-color: white !important;
  }
  button.menu-toggle span:before, button.menu-toggle:after, button.menu-toggle:before {
    height: 4px;
    width: 20px;
    position: initial;
  }
  .menu {
    background-color: var(--primary-color);
  }
}
